* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e1b4b
  );

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  font-family: Arial, Helvetica, sans-serif;
}

.login-card {
  width: 1200px;
  min-height: 700px;
  background: rgba(255,255,255,0.05);

  border: 1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(12px);

  border-radius: 30px;

  display: flex;

  overflow: hidden;

  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.left-section {
  flex: 1;

  padding: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-section h1 {
  font-size: 60px;
  color: white;
  line-height: 1.1;
  margin-bottom: 25px;
}

.left-section h1 span {
  color: #8b5cf6;
}

.left-section p {
  color: #cbd5e1;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 50px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #8b5cf6;
}

.feature span {
  color: white;
  font-size: 18px;
}

.right-section {
  width: 450px;

  background: rgba(15,23,42,0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;
}

.login-form {
  width: 100%;
}

.login-form h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 40px;
}

.login-form input {
  width: 100%;

  padding: 18px;

  margin-bottom: 25px;

  border-radius: 14px;

  border: 1px solid #334155;

  background: rgba(255,255,255,0.03);

  color: white;

  font-size: 16px;
}

.login-form input::placeholder {
  color: #64748b;
}

.login-form input:focus {
  outline: none;
  border-color: #8b5cf6;
}

.login-form button {
  width: 100%;

  padding: 18px;

  border: none;

  border-radius: 14px;

  background: linear-gradient(
    135deg,
    #7c3aed,
    #8b5cf6
  );

  color: white;

  font-size: 18px;

  cursor: pointer;

  transition: 0.3s;
}

.login-form button:hover {
  transform: translateY(-3px);
}

.bottom-text {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.bottom-text span {
  color: #94a3b8;
}

.bottom-text a {
  color: #8b5cf6;
  text-decoration: none;
}

@media(max-width: 1000px) {

  .login-card {
    flex-direction: column;
  }

  .left-section {
    padding: 40px;
  }

  .left-section h1 {
    font-size: 40px;
  }

  .right-section {
    width: 100%;
  }

}

.login-options {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 30px;

}

.remember-me {

  display: flex;

  align-items: center;

  gap: 10px;

  color: #cbd5e1;

  font-size: 14px;

}

.remember-me input {

  width: 16px;
  height: 16px;

  accent-color: #8b5cf6;

}

.login-options a {

  color: #8b5cf6;

  text-decoration: none;

  font-size: 14px;

}

.divider {

  display: flex;

  align-items: center;

  gap: 15px;

  margin: 35px 0;

}

.line {

  flex: 1;

  height: 1px;

  background: #334155;

}

.divider span {

  color: #64748b;

}

.social-buttons {

  display: flex;

  flex-direction: column;

  gap: 20px;

}

.google-btn,
.apple-btn {

  width: 100%;

  padding: 16px;

  border-radius: 14px;

  border: 1px solid #334155;

  background: rgba(255,255,255,0.03);

  color: rgb(235, 21, 21);

  display: flex;

  justify-content: center;

  align-items: center;

  gap: 15px;

  cursor: pointer;

  transition: 0.3s;

  font-size: 16px;

}

.google-btn:hover,
.apple-btn:hover {

  background: rgba(160, 115, 115, 0.08);

}

.google-btn img,
.apple-btn img {

  width: 22px;
  height: 22px;

}