.dashboard-container {

  margin-left: 280px;

  min-height: 100vh;

  background:
    linear-gradient(
      135deg,
      #0f172a,
      #111827
    );

  padding: 40px;

}

.topbar {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 50px;

}

.topbar h1 {

  color: white;

  font-size: 42px;

}

.topbar p {

  color: #94a3b8;

  margin-top: 10px;

  font-size: 18px;

}

.profile {

  display: flex;

  align-items: center;

  gap: 20px;

}

.notification {

  width: 55px;
  height: 55px;

  border-radius: 18px;

  background:
    rgba(255,255,255,0.05);

  display: flex;

  justify-content: center;
  align-items: center;

  color: white;

  font-size: 22px;

}

.avatar {

  width: 55px;
  height: 55px;

  border-radius: 50%;

  background:
    linear-gradient(
      135deg,
      #7c3aed,
      #8b5cf6
    );

  display: flex;

  justify-content: center;
  align-items: center;

  color: white;

  font-weight: bold;

  font-size: 22px;

}

.cards {

  display: grid;

  grid-template-columns:
    repeat(4, 1fr);

  gap: 25px;

}

.card {

  background:
    rgba(255,255,255,0.05);

  border:
    1px solid rgba(255,255,255,0.08);

  border-radius: 28px;

  padding: 30px;

  backdrop-filter: blur(10px);

  transition: 0.3s;

}

.card:hover {

  transform: translateY(-5px);

}

.card-icon {

  width: 65px;
  height: 65px;

  border-radius: 20px;

  display: flex;

  justify-content: center;
  align-items: center;

  margin-bottom: 25px;

  font-size: 28px;

  color: white;

}

.balance .card-icon {

  background:
    linear-gradient(
      135deg,
      #7c3aed,
      #8b5cf6
    );

}

.income .card-icon {

  background:
    linear-gradient(
      135deg,
      #10b981,
      #059669
    );

}

.expense .card-icon {

  background:
    linear-gradient(
      135deg,
      #ef4444,
      #dc2626
    );

}

.savings .card-icon {

  background:
    linear-gradient(
      135deg,
      #3b82f6,
      #2563eb
    );

}

.card h3 {

  color: #94a3b8;

  margin-bottom: 15px;

  font-size: 20px;

}

.card h2 {

  color: white;

  font-size: 34px;

}