<app-sidebar></app-sidebar>

<div class="transactions-page">

  <!-- TOPBAR -->

  <div class="topbar">

    <div>

      <h1>Transactions</h1>

      <p>
        Manage your financial transactions
      </p>

    </div>

    <button
      class="add-button"
      (click)="showModal = true"
    >

      <i class="bi bi-plus-lg"></i>

      Add Transaction

    </button>

  </div>

  <!-- TABLE -->

  <div class="table-container">

    <table>

      <thead>

        <tr>

          <th>Title</th>
          <th>Category</th>
          <th>Type</th>
          <th>Amount</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let transaction of transactions">

          <td>{{ transaction.title }}</td>

          <td>{{ transaction.category }}</td>

          <td>

            <span
              class="type"
              [class.income]="
                transaction.type === 'Income'
              "
              [class.expense]="
                transaction.type === 'Expense'
              "
            >

              {{ transaction.type }}

            </span>

          </td>

          <td>

            <span
              [class.income-text]="
                transaction.type === 'Income'
              "

              [class.expense-text]="
                transaction.type === 'Expense'
              "
            >

              AOA {{ transaction.amount }}

            </span>

          </td>

        </tr>

      </tbody>

    </table>

  </div>

  <!-- MODAL -->

  <div
    class="modal-overlay"
    *ngIf="showModal"
  >

    <div class="modal">

      <div class="modal-header">

        <h2>Add Transaction</h2>

        <button
          class="close-button"
          (click)="showModal = false"
        >
          ✕
        </button>

      </div>

      <form (ngSubmit)="addTransaction()">

        <label>Title</label>

        <input
            type="text"

            placeholder="Transaction title"

            [(ngModel)]="title"

            name="title"
        >

        <label>Category</label>

        <input
            type="text"

            placeholder="Category"

            [(ngModel)]="category"

            name="category"
        >

        <label>Amount</label>

        <input
            type="number"

            placeholder="Amount"

            [(ngModel)]="amount"

            name="amount"
        >

        <label>Type</label>

        <select

            [(ngModel)]="type"

            name="type"
            >

            <option>
                Income
            </option>

            <option>
                Expense
            </option>

        </select>

        <button
          type="submit"
          class="save-button"
        >
          Save Transaction
        </button>

      </form>

    </div>

  </div>

</div>