<div class="sidebar">

  <div class="logo">

    <div class="logo-icon">
      <i class="bi bi-bar-chart-fill"></i>
    </div>

    <h2>HATinFinance</h2>

  </div>

  <nav>

    <a routerLink="/dashboard">

      <i class="bi bi-grid"></i>

      <span>Dashboard</span>

    </a>

    <a routerLink="/transactions">

      <i class="bi bi-arrow-left-right"></i>

      <span>Transactions</span>

    </a>

    <a routerLink="/categories">

      <i class="bi bi-tags"></i>

      <span>Categories</span>

    </a>

    <a routerLink="/goals">

      <i class="bi bi-bullseye"></i>

      <span>Goals</span>

    </a>

    <a routerLink="/reports">

      <i class="bi bi-pie-chart"></i>

      <span>Reports</span>

    </a>

    <a routerLink="/settings">

      <i class="bi bi-gear"></i>

      <span>Settings</span>

    </a>

  </nav>

</div>